.cartprod {
    width: 300px;
    padding: 20px;
    border: 1px;
    border-radius: 20 px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 2fr, 1fr;
    place-items: center;
    gap: 10px;
}
.cartprod__title {
    grid-column: span 3;
}
.cartprod__container span{
    display: flex;
    }
    .cartprod__price {

        grid-column: span 3;
    }